<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.105.0" targetFramework="net48" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
</packages>